.section-elements {
  display: flex;
  flex-direction: row;
  /* border: 1px double red; */
  padding: 10px;
  width: 90%;
  height: 36%;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  /* border: 1px solid purple; */
  display: flex;
  width: 7rem;
}

.icon {
  /* border: 1px solid yellow; */
  filter: invert(92%) sepia(79%) saturate(264%) hue-rotate(301deg) brightness(109%) contrast(105%);
}

@media (max-width: 400px) and (orientation: portrait) {
  .weather-icon {
    margin-bottom: 7.38rem;
  }
}
