.section-search {
  align-items: center;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  height: 18%;
  width: 100%;
}

.input-search {
  font-size: x-large;
  text-align: center;
  height: 90%;
  width: 80%;
  color: #aaa;
  background: transparent;
  border: 0 1px;
  border-bottom: 2px solid black;
  transition: linear 1s;
  /* transform: scaleX(1); */
  transform-origin: left;
}

.input-search:focus {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #ff0043;
  transform: translateX(1);
}

.btn-search {
  border-radius: 32px;
  height: 80%;
  width: 15%;
}

.icon-search {
  width: 80%;
  height: 60%;
}

@media (max-width: 375px) and (orientation: portrait) {
  
}
