.section-search {
  align-items: center;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  height: 18%;
  width: 100%;
}

.input-search {
  font-size: x-large;
  text-align: center;
  height: 90%;
  line-height: 90%;
  width: 98%;
  color: #aaa;
  background: transparent;
  border: 1px solid blue;
  transition: linear 1s;
  margin: 0;
  padding: 0;
}

.input-search:focus {
  border: 1.5px solid blue;
}

.btn-search {
  border: none;
  height: 80%;
  width: 15%;
  margin-left: -17%;
  display: inline-block;
  background: #161515;
  cursor: pointer;
}

.icon-search {
  width: 80%;
  height: 60%;
}

@media (max-width: 400px) and (orientation: portrait) {
  .input-search {
    margin: 0 0 0 3px;
  }
}
