.weather-section {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  height: 50%;
  width: 80%;
}

.weather-aside {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border: 1px solid blue; */
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

.temp-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
  /* border: 1px solid purple; */
}

.temp {
  font-size:3em;
}

.temp-icon {
  font-size: 20rem;
  filter: invert(92%) sepia(79%) saturate(264%) hue-rotate(301deg) brightness(109%) contrast(105%);
}

.city-box {
  display: flex;
  /* border: 1px solid deeppink; */
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
}

.btn-aside {
  display: flex;
  align-items: center;
  /* border: 1px dotted red; */
  width: 20%;
  height: 100%;
}